/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;  
  color: inherit;      
}

body {
    background-color: grey;
    color: #000000;
    position: relative;
    max-width: 100%;

}


/* Navigation Bar Styles */
.navbar {
    margin: 20px;
    position: fixed;
    z-index: 1000; 
    height: 80px;
    right: 2px;
    left: 2px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    align-items: center;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 10px;
}


/* Navigation Bar Left */
.nav-left {
    padding-left: 1vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Navigation Logo Image */
.nav-logo {
    height: 100%;
    width: 180px;
    padding-top: 1vh;
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.logo-image {
    max-width: 100%;
    max-height: 100%;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 550;
}

/* Navigation Bar Options */
.nav-options {
    font-size: 1.3rem;
    justify-items: center;
}


/* Navigation Bar right */
.nav-right {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
}


/* Navigation github reference */
.nav-github {
    height: 60%;
    margin-right: 10px;
    align-items: center;
}

.github-logo {
    max-width: 100%;
    max-height: 100%;
}

.nav-location {
    margin-right: 20px;
}

.nav-time {
  padding-top: 4%;
}

#nav-contact-btn {
    margin-right: 20px;
}

.menu {
    margin-right: 20px;
    font-size: 2rem;
}

.menu i {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    height: 2.5rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

@media(max-width: 1240px) {
    .nav-options {
        display: none;
    }
}

@media(max-width: 764px) {
    #nav-contact-btn {
        display: none;
    }
}

@media(max-width: 580px) {
    .nav-github, .nav-location {
        display: none;
    }
}

.dropdown-box {
    display: none;
    top: 15%;
    z-index: 1000;
    height: 0px;
    background: rgba(242, 146, 78, 0.8);
    position: absolute;
    right: 1.6rem;
    font-size: 1.2rem;
    color: #fff;
    width: 300px;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-box.open {
    display:flex;
    flex-direction: column;
    height: 260px;
}

.dropdown-box li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dropdown-contact-btn {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media(max-width: 400px) {
    .dropdown-box {
        left: 1.6rem;
        width: unset;
    }
}

/* Social Icons */
.nav-social {
    margin-top: 30px;
    padding: 10px;
    position: fixed;
    top: 28%;
    right: 25px; /* changed from left to right */
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 999;
    justify-content: space-between;
    background-color: #ffffff;
    align-items: center;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.71);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
}

.nav-social img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    height: 2.5rem;
    border-radius: 50%;
    border: 3px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    background-color: #ffffff;
}

.nav-social img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.x-icon {
    font-size: 1px;
}

@media(max-width: 750px) {
    .nav-social {
        display: none;
    }
}



